{% extends 'app/base.html' %}

{%block title %}
<h3>Medicines</h3>
{% endblock %}
{% block content %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table style="width:100%" id = "myTable">
        <tr>
            <th>Medicine ID</th>
            <th>Generic Name</th>
            <th>Trade Name</th>
            <th>Unit Sell Price</th>
            <th>Unit Purchase Price</th>
            <th>Action</th>
        </tr>
        {% for medicine in medicines %}
        <tr>
            <td>{{medicine.medicine_id}}</td>
            <td>{{medicine.generic_name}}</td>
            <td>{{medicine.trade_name}}</td>
            <td>{{medicine.unit_sell_price}}</td>
            <td>{{medicine.unit_purchase_price}}</td>
            <td><a href="/app/editmedicine/{{medicine.medicine_id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}